@media only screen and (min-width: 768px){
.mainNav{
    display:flex; 
       }
    
.mainNav li{
    list-style-type: none;
  
}   

.mainNav .active{
    color:#9fffcb;
}



.mainNav li a{
    text-decoration: none;
    color:white;
    padding:1em;
    font-size: 1.5em;
   
}

.mainNav li:after{
    display:block;
    content:'';
    border-bottom: solid 3px #f4f4f4;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
  }


.mainNav li:hover:after { 
     transform:scaleX(.7); 
    }


.container{
    display:none;
}

.heroimage{
    position:relative;
}
/*
.welcome {
    color:white;
    margin: 0; 
    position: absolute;              
    top: 75%;      
    left:15%;                  
      }  */
.welcome {
        margin: 0;
        /*background: yellow; */
        position: absolute;
        color:white;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

 .block1, .block2{
     display:flex;
     align-items: center;
   
 }

 .block3{
     display:flex;
     align-items: center;
     justify-content: space-evenly;
 }

 footer{
     display:flex;
     justify-content: space-between;
 }

 .forecast h4{
     text-align: center;
 }

} /*end of media query*/    